@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
/* common css */
.container {
  max-width: 1440px;
}
.thumb-slider .swiper-wrapper {
  display: flex;
}
.swiper-thumb-img .swiper-wrapper .swiper-slide{
  padding: 6px;
  border: 2px solid transparent;
  cursor: pointer;
  width: 33.33 !important;
}
.thumb-slider .swiper-slide.swiper-slide-thumb-active {
  border: 2px solid #3563E9;
  border-radius: 10px;
}
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.btn {
  @apply inline-flex items-center justify-center text-base not-italic font-semibold leading-6 text-center text-white rounded h-11;
}
.btn-blue {
  @apply bg-primary
}
.btn-blue:hover {
  @apply bg-skyBlue
}
.bnt-skyBlue {
  @apply bg-skyBlue
}
.bnt-skyBlue:hover {
  @apply bg-primary
}
@media(max-width: 767px) {
  .btn {
    @apply text-xs h-9;
  }
}

